.auth {
    
    // background: -webkit-linear-gradient(to right,   #159957, #155799);
    // background: linear-gradient(to right,  #159957, #155799);
    background-image: url(../pages/Auth/pngtree-website-science-and-technology-light-effect-future-background-picture-image_2448047.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

// .auth .card{
    
//     background: linear-gradient(to right,  #159957, #155799);
// }